# Python
__pycache__/
*.py[cod]
*$py.class

# Build
build/
dist/
*.egg-info/
.eggs/

# Virtualenv
venv/
.venv/
env/
.env/

# PyInstaller
*.spec

# Tests
.pytest_cache/
.tox/
.coverage
coverage.xml

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# Typing
.mypy_cache/
.pytype/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
